body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #e0f2f7, #b2ebf2); 
    font-family: 'Arial', sans-serif; 
}

img {
    width: 250px; 
    height: auto; 
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden; 
}

img:hover {
    transform: scale(1.1); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}


img[alt="mico"] {
    width: 300px; 
}